:root {
	--navbarHeight: max(8vh, 45px);
	--burgerBoxSize: 30px;
	--txtColor: #fff;
	--txtOrange: #f39200;
	--txtSubtitleColor: #bbb;
	--backgroundColor1: #333;
	--backgroundColor2: rgba(52, 62, 201, 0.747);
	--backgroundColorShadow: #aaa;
	--socialMediaSize: 50px;
}

@font-face {
	font-family: "Bodoni 72";
	src: url("../ressources/fonts/BodoniSvtyTwoITCTT-Book-01.ttf") format("truetype");
}

@font-face {
	font-family: "Bebas Kai";
	src: url("../ressources/fonts/BebasKai.otf") format("opentype");
}

* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	font-family: "Bodoni 72", sans-serif;
}

#siteVeil {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 1;
	z-index: 100;
	transition: opacity 1s;
	transition-timing-function: ease-out;
}

.headlines, h2 {
	font-family: "Bebas Kai", sans-serif;
}

.nojs-warn {
	top: 45px;
	background: white;
	border: 1px solid black;
	text-align: center;
}

header {
	height: 100vh;
	width: 100%;
}

.videoShadowLayer {
	background: linear-gradient(to bottom, #ffffff00, #ffffff66);
	height: calc(100vh - var(--navbarHeight));
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: var(--navbarHeight);
	bottom: 0;
}

#backgroundVideo {
	height: calc(100vh - var(--navbarHeight));
	width: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: var(--navbarHeight);
	bottom: 0;
	z-index: -1;
}

h1,
#subtitleWLWWD,
#subtitleMSGS {
	display: block;
	position: relative;
	text-align: center;
}

#subtitleWLWWD {
	color: var(--txtSubtitleColor);
	-webkit-text-stroke: 1px black;
}

h1 {
	background: url("../ressources/logo_flowness.png") no-repeat center;
	background-size: contain;
	margin: 0 auto;
}

h1 span {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

#subtitleMSGS {
	background: url("../ressources/modern_soul_groovy_sound.png") no-repeat center;
	background-size: contain;
	margin: 0 auto;
}

#mainContainer {
	padding-top: 40px;
}

.section:first-of-type {
	padding-bottom: 30px;
}

#contact {
	margin-bottom: 15px;
}

.socialMediaList {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 450px;
	margin: 0 auto;
}

.socialMediaItem {
	display: block;
	background: var(--backgroundColor2);
	width: var(--socialMediaSize);
	height: var(--socialMediaSize);
	border-radius: 100%;
	transition: background 0.5s ease-in-out;
}

.socialMediaItem:hover {
	background: var(--txtOrange);
	cursor: pointer;
}

.socialMediaItem img {
	display: block;
	width: calc(var(--socialMediaSize) / 2);
	height: calc(var(--socialMediaSize) / 2);
	position: relative;
	top: calc(var(--socialMediaSize) / 4);
	left: calc(var(--socialMediaSize) / 4);
}

.orangeTxt {
	color: var(--txtOrange);
}

.sectionTitle {
	margin-bottom: 10px;
	color: var(--txtColor);
	margin-left: 15px;
}

.titleInBlock {
	margin-bottom: 0;
}

.block {
	background: var(--backgroundColor2);
	padding: 10px;
	color: var(--txtColor);
	margin-left: 15px;
	margin-right: 15px;
}

.illustrationBlock, .groupBlock {
	margin: 0 15px;
}

.block p:first-child {
	margin-bottom: 5px;
}

.block p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.block p:last-child {
	margin-top: 5px;
}

.undecoratedList {
	list-style-type: none;
}

.sectionHR {
	border-top: 1px solid var(--backgroundColor2);
	margin: 30px 15px;
}

#pressQuote {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

#pressCarousel {
	width: 100%;
	margin: 30px auto;
}

#plannedDatesElement {
	display: none;
}

.date-item {
	margin-top: 0.85em;
	margin-bottom: 0.85em;
	margin-left: 1em;
	text-indent: -1em;
}

.date-item:first-of-type {
	margin-top: 0;
	margin-bottom: 0.85em;
}

.date-item:last-of-type {
	margin-top: 0.85em;
	margin-bottom: 0px;
}

#goTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(0, 0, 0, 0.5);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	transition: padding-bottom 0.3s ease-out, padding-top 0.3s ease-out,
		background 0.3s ease-out, opacity 0.3s ease-out;
	padding: 8px;
	padding-bottom: 8px;
	padding-top: 8px;
	cursor: pointer;
}

#goTop img {
	width: 100%;
	height: 100%;
	display: block;
}

#goTop:hover {
	padding-bottom: 13px;
	padding-top: 3px;
	background: rgba(0, 0, 0, 0.9);
}

.display {
	transform: scale(1);
	opacity: 1;
}

.hidden {
	transform: scale(0);
	opacity: 0;
}

#contactForm {
	margin-top: 24px;
}

.smallSizeBR {
	display: none;
}

h1 {
	width: 100%;
	height: 140px;
	top: 35vh;
}

#subtitleMSGS {
	width: 100%;
	height: 60px;
	top: 40vh;
}

#subtitleWLWWD {
	font-size: 4.5vw;
	top: 85vh;
}

.contactButton {
	background-color: #fff;
	width: 80%;
	max-width: 300px;
	margin: 16px auto;
	padding: 16px;
	text-align: center;
	transition: ease-out 1s;
}

.contactButton:hover {
	cursor: pointer;
}

.contactButton:active {
	background-color: orange;
	transition: none;
}

.statusError {
	color: red;
}

@media screen and (max-width: 350px) {
	.smallSizeBR {
		display: inline;
	}
}

@media screen and (max-width: 767px) {
	h1 {
		width: 95%;
		height: 100px;
		top: 45vh;
	}
	
	#subtitleMSGS {
		width: 90%;
		height: 35px;
		top: 50vh;
	}

	#subtitleWLWWD {
		font-size: 4.5vw;
		top: 90vh;
	}
}

@media screen and (min-width: 415px) and (max-width: 767px) {
	:root {
		--socialMediaSize: 60px;
	}

	.socialMediaList, .section, #illustrationCarousel, #groupCarousel {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.sectionHR {
		margin-left: 15px;
		margin-right: 15px;
	}

	#contact {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	h1 {
		width: 100%;
		height: 120px;
		top: 50vh;
	}
	
	#subtitleMSGS {
		width: 100%;
		height: 50px;
		top: 55vh;
	}

	#subtitleWLWWD {
		font-size: 4.5vw;
		top: 90vh;
	}

	.socialMediaList, .section, #illustrationCarousel, #groupCarousel {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.sectionHR {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
	h1 {
		width: 100%;
		height: 140px;
		top: 40vh;
	}
	
	#subtitleMSGS {
		width: 100%;
		height: 60px;
		top: 45vh;
	}

	#subtitleWLWWD {
		font-size: 4.5vw;
		top: 90vh;
	}

	#block1, #block2, #block3, #block4 {
		font-size: 20px;
	}

	h2 {
		font-size: 40px;
	}
}

@media screen and (min-width: 1025px) {
	.socialMediaList {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	#illustrationCarousel, #groupCarousel {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	#dates, #contact, #group {
		max-width: 1650px;
	}

	.section-inline .block {
		width: 48%;
		max-width: 900px;
	}

	#biographie:first-child {
		margin-right: 15px;
	}

	#biographie:last-child {
		margin-left: 15px;
	}
	
	.sectionHR {
		max-width: 1650px;
		margin: 45px 30px;
	}

	.section-inline {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
	}

	#smallSizeHR {
		display: none;
	}

	#biographie .block {
		margin: 0;
	}

	#biographie {
		margin-left: auto;
		margin-right: auto;
	}

	#biographie, #contact, #dates, #group {
		max-width: 1300px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 1367px) {
	#block1, #block2, #block3, #block4 {
		font-size: 24px;
	}

	h2 {
		font-size: 48px;
	}
}

@media screen and (min-width: 1710px) {
	.sectionHR {
		margin: 45px auto;
	}
}

@media screen and (min-width: 1920px) {
	#mainContainer {
		margin-left: auto;
		margin-right: auto;
		max-width: 1920px;
	}

	#subtitleWLWWD {
		font-size: 86px;
	}
}

@media only screen and (max-height: 799px) and (orientation: landscape) {
	h1 {
		width: 100%;
		height: 80px;
		top: 35vh;
	}
	
	#subtitleMSGS {
		width: 100%;
		height: 30px;
		top: 40vh;
	}

	#subtitleWLWWD {
		font-size: 3.15vw;
		top: 90vh;
	}
}
