:root {
	--navbarHeight: max(8vh, 45px);
	--burgerBoxSize: 30px;
	--txtColor: #fff;
	--txtOrange: orangered;
	--txtSubtitleColor: #bbb;
	--backgroundColor1: #333;
	--backgroundColor2: #777;
	--backgroundColorShadow: #aaa;
	--socialMediaSize: 50px;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
}

header {
	height: 100vh;
	width: 100%;
}

.videoShadowLayer {
	background: linear-gradient(to bottom, #00000000, #000000ff);
	height: calc(100vh - var(--navbarHeight));
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: var(--navbarHeight);
	bottom: 0;
}

#backgroundVideo {
	height: calc(100vh - var(--navbarHeight));
	width: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: var(--navbarHeight);
	bottom: 0;
	z-index: -1;
}

h1,
#mainSubtitle,
#secondSubtitle {
	display: block;
	position: relative;
	text-align: center;
}

#mainSubtitle {
	color: var(--txtSubtitleColor);
}

h1 {
	color: var(--txtColor);
}

#secondSubtitle {
	color: var(--txtOrange);
}

#mainContainer {
	padding-top: 40px;
	background: var(--backgroundColor1);
}

.section {
	padding: 30px 15px;
}

.section:first-of-type {
	padding-top: 0;
	padding-bottom: 30px;
}

.section:last-of-type {
	padding-top: 30px;
	padding-bottom: 0px;
}

.socialMediaList {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 450px;
	margin: 0 auto;
}

.socialMediaItem {
	display: block;
	background: var(--backgroundColor2);
	width: var(--socialMediaSize);
	height: var(--socialMediaSize);
	border-radius: 100%;
	transition: background 0.5s ease-in-out;
}

.socialMediaItem:hover {
	background: var(--txtOrange);
	cursor: pointer;
}

.socialMediaItem img {
	display: block;
	width: calc(var(--socialMediaSize) / 2);
	height: calc(var(--socialMediaSize) / 2);
	position: relative;
	top: calc(var(--socialMediaSize) / 4);
	left: calc(var(--socialMediaSize) / 4);
}

.orangeTxt {
	color: var(--txtOrange);
}

.sectionTitle {
	margin-bottom: 10px;
	color: var(--txtColor);
}

.block {
	background: var(--backgroundColor2);
	padding: 10px;
	color: var(--txtColor);
}

.block p:first-child {
	margin-bottom: 5px;
}

.block p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.block p:last-child {
	margin-top: 5px;
}

.undecoratedList {
	list-style-type: none;
}

.sectionHR {
	border-top: 1px solid var(--backgroundColor2);
}

#pressQuote {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

#pressCarousel {
	width: 100%;
	margin: 30px auto;
}

#plannedDatesElement {
	display: none;
}

.date-item {
	margin-top: 0.85em;
	margin-bottom: 0.85em;
	margin-left: 1em;
	text-indent: -1em;
}

.date-item:first-of-type {
	margin-top: 0;
	margin-bottom: 0.85em;
}

.date-item:last-of-type {
	margin-top: 0.85em;
	margin-bottom: 0px;
}

#goTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(0, 0, 0, 0.5);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	transition: padding-bottom 0.3s ease-out, padding-top 0.3s ease-out,
		background 0.3s ease-out, opacity 0.3s ease-out;
	padding: 8px;
	padding-bottom: 8px;
	padding-top: 8px;
	cursor: pointer;
}

#goTop img {
	width: 100%;
	height: 100%;
	display: block;
}

#goTop:hover {
	padding-bottom: 13px;
	padding-top: 3px;
	background: rgba(0, 0, 0, 0.9);
}

.display {
	transform: scale(1);
	opacity: 1;
}

.hidden {
	transform: scale(0);
	opacity: 0;
}

#contactForm {
	margin-top: 24px;
}

@media screen and (max-width: 414px) {
	#mainSubtitle {
		top: 65vh;
		font-size: 0.6em;
	}

	h1 {
		top: 70vh;
		font-size: 2em;
	}

	#secondSubtitle {
		top: 75vh;
		font-size: 1.3em;
	}
}

@media screen and (min-width: 415px) and (max-width: 767px) {
	#mainSubtitle {
		top: 60vh;
		font-size: 0.9em;
	}

	h1 {
		top: 65vh;
		font-size: 2.5em;
	}

	#secondSubtitle {
		top: 70vh;
		font-size: 1.5em;
	}

	:root {
		--socialMediaSize: 60px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
	#mainSubtitle {
		top: 60vh;
		font-size: 1.2em;
	}

	h1 {
		top: 65vh;
		font-size: 3em;
		font-weight: 700;
	}

	#secondSubtitle {
		top: 70vh;
		font-size: 1.7em;
		font-weight: 500;
	}
}

@media screen and (min-width: 1281px) {
}
